@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,700i&subset=latin-ext");
@font-face {
  font-family: 'Geneva';
  src: url("/fonts/Geneva/Geneva.eot?#iefix") format("embedded-opentype"), url("/fonts/Geneva/Geneva.woff") format("woff"), url("/fonts/Geneva/Geneva.ttf") format("truetype"), url("/fonts/Geneva/Geneva.svg#Geneva") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  font-size: 13px; }

img {
  max-width: 100%; }

.img-holder {
  position: relative;
  background: #ccc url("assets/logo-small.png") no-repeat center center;
  background-size: 50px auto;
  overflow: hidden;
  display: block; }
  .img-holder:after {
    content: '';
    display: block;
    width: 100%; }
  .img-holder.size-1by1:after {
    padding-top: 100%; }
  .img-holder.size-4by3:after {
    padding-top: 75%; }
  .img-holder.size-16by9:after {
    padding-top: 56.25%; }
  .img-holder.size-lead-picture:after {
    padding-top: 42%; }
  .img-holder.comments-picture:after {
    padding-top: 59.5%; }
  .img-holder.size-read-more-picture:after {
    padding-top: 62.13%; }
  .img-holder.news-list-picture:after {
    padding-top: 70.7%; }
  .img-holder img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }

a {
  text-decoration: none; }

h2, h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500; }

h5, p {
  font-family: "Roboto", sans-serif; }
  h5 .date, h5 .time, p .date, p .time {
    font-family: "Roboto", sans-serif;
    font-weight: 300; }

h6 {
  font-family: "Roboto", sans-serif; }

.comment-number,
.comment-number-single-page,
.comment-number-news-list {
  position: absolute;
  top: 80%;
  right: -9px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 6px;
  font-size: 0.85rem;
  display: inline-block;
  text-decoration: none; }
  .comment-number:after,
  .comment-number-single-page:after,
  .comment-number-news-list:after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 100%;
    left: 70%;
    border: 5px solid transparent;
    border-top-color: #767778;
    border-left-color: #767778; }

/*
//COMMENT NUMBER Single page
.comment-number-single-page{
    position: absolute;
    top:80%;
    right: -9px;
    color:$white;
    font-family: $font-roboto;
    font-weight: $font-weight-medium;
    padding: 6px;
    font-size: 0.85rem;
    display: inline-block;
    text-decoration: none;

    &:after{
        content: '';
        display: block;
        width: 5px; 
        height: 5px;
        position: absolute;
        top:100%;
        left:70%;
        border: 5px solid transparent;
        border-top-color: $comment-triangle-color;
        border-left-color: $comment-triangle-color;
    }
}
*/
.line:after {
  content: '';
  display: block;
  width: 140px;
  height: 2.5px;
  background: #EAEAEA;
  margin-top: 5px;
  margin-bottom: 5px; }

.line-left:after {
  margin-right: 30px auto 0; }

.apostrophAfter:after {
  content: '"';
  display: block;
  color: #0BAE92;
  font-family: 'Arial', sans-serif;
  font-size: 2.8rem;
  position: absolute;
  top: 40%;
  left: 80%; }

.apostrophBefore:before {
  content: '"';
  display: block;
  color: #0BAE92;
  font-family: 'Arial', sans-serif;
  font-size: 2.8rem;
  position: absolute;
  top: 10%;
  left: 3%; }

.border-top-linear-gradient:before {
  content: "";
  position: absolute;
  top: -3px;
  width: 100%;
  border-bottom: 1px solid transparent;
  border-style: solid;
  border-image: linear-gradient(to right, #8AB957 70%, #f3f3f3 100%);
  border-image-slice: 1; }

.border-top-red:before {
  content: "";
  position: absolute;
  top: -3px;
  width: 100%;
  border-bottom: 1px solid transparent;
  border-style: solid;
  border-image: linear-gradient(to right, #dc3545 70%, #f3f3f3 100%);
  border-image-slice: 1; }

.border-top-light-blue:before {
  content: "";
  position: absolute;
  top: -3px;
  width: 100%;
  border-bottom: 1px solid transparent;
  border-style: solid;
  border-image: linear-gradient(to right, #18B6E9 70%, #f3f3f3 100%);
  border-image-slice: 1; }

.news-item .news-item-detail a {
  text-decoration: none; }
  .news-item .news-item-detail a:hover {
    color: #fff; }
.news-item .news-item-detail h5 {
  font-size: 1.1rem;
  line-height: 1.4rem;
  max-height: 2.8rem;
  overflow: hidden; }
  .news-item .news-item-detail h5 .news-item-link {
    text-decoration: none;
    color: #000000; }
.news-item .news-item-detail p {
  font-weight: 300;
  color: #6c757d; }
  .news-item .news-item-detail p .date, .news-item .news-item-detail p .time {
    font-size: 0.85rem; }
  .news-item .news-item-detail p .news-detail-link {
    text-decoration: none;
    font-size: 0.9rem; }

@media (min-width: 768px) {
  html {
    font-size: 14px; } }
/* Buzz Out */
@-webkit-keyframes buzz {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0); }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0); } }
@keyframes buzz {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0); }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0); } }
.buzz {
  display: block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.buzz:hover, .buzz:focus, .buzz:active {
  -webkit-animation-name: buzz;
  animation-name: buzz;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

.animation {
  visibility: hidden;
  position: relative;
  animation-fill-mode: forwards;
  opacity: 0; }

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.slideLeft {
  animation-name: slideLeft;
  visibility: visible;
  animation-duration: 1s;
  opacity: 1; }

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@-webkit-keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.slideRight {
  animation-name: slideRight;
  visibility: visible;
  animation-duration: 1s;
  opacity: 1; }

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.slideUp {
  animation-name: slideUp;
  visibility: visible;
  animation-duration: 1s; }

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.slideDown {
  animation-name: slideDown;
  visibility: visible;
  animation-duration: 1s;
  opacity: 1; }

.zoom {
  animation-name: zoom;
  visibility: visible;
  animation-duration: 2s;
  opacity: 1; }

@keyframes zoom {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@-webkit-keyframes zoom {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
.form-control-success,
.form-control-warning,
.form-control-danger {
  padding-right: 2.25rem;
  background-repeat: no-repeat;
  background-position: center right 0.5625rem;
  -webkit-background-size: 1.125rem 1.125rem;
  background-size: 1.125rem 1.125rem; }

.has-success .form-control-feedback,
.has-success .form-control-label,
.has-success .col-form-label,
.has-success .form-check-label,
.has-success .custom-control {
  color: #5cb85c; }

.has-success .form-control {
  border-color: #5cb85c; }

.has-success .input-group-addon {
  color: #5cb85c;
  border-color: #5cb85c;
  background-color: #eaf6ea; }

.has-success .form-control-success {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E"); }

.has-warning .form-control-feedback,
.has-warning .form-control-label,
.has-warning .col-form-label,
.has-warning .form-check-label,
.has-warning .custom-control {
  color: #f0ad4e; }

.has-warning .form-control {
  border-color: #f0ad4e; }

.has-warning .input-group-addon {
  color: #f0ad4e;
  border-color: #f0ad4e;
  background-color: white; }

.has-warning .form-control-warning {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23f0ad4e' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E"); }

.has-danger .form-control-feedback,
.has-danger .form-control-label,
.has-danger .col-form-label,
.has-danger .form-check-label,
.has-danger .custom-control {
  color: #d9534f; }

.has-danger .form-control {
  border-color: #d9534f !important; }

.has-danger .input-group-addon {
  color: #d9534f;
  border-color: #d9534f;
  background-color: #fdf7f7; }

.has-danger .form-control-danger {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E"); }

.error-msg > * {
  color: #d9534f; }

header {
  background: #fff; }
  header .header-top {
    border-bottom: 3px solid #e9ecef;
    position: relative; }
  header .header-top-social li {
    display: inline-block;
    padding: 0 5px; }
    header .header-top-social li .fa {
      color: #6c757d;
      height: 15px;
      width: 15px;
      text-decoration: none; }
  header .header-bottom {
    margin-top: -3px; }
    header .header-bottom .search-wrapper .search-icon {
      text-align: center;
      font-size: 18px;
      color: #6c757d;
      margin-right: 10px;
      cursor: pointer; }
    header .header-bottom .search-form {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      display: none;
      z-index: 10; }
    header .header-bottom .navbar-brand {
      max-width: 70px; }
    header .header-bottom .navbar-toggler {
      border-color: #6c757d !important;
      overflow: hidden; }
      header .header-bottom .navbar-toggler span {
        display: block;
        width: 32px;
        height: 3px;
        background: #6c757d;
        margin: 5px 0;
        position: relative;
        transition: 0.5s linear; }
      header .header-bottom .navbar-toggler.hover span {
        background: #fff; }
      header .header-bottom .navbar-toggler.active span:nth-of-type(2) {
        opacity: 0;
        transform: translateX(-100px); }
      header .header-bottom .navbar-toggler.active span:nth-of-type(1) {
        transform: rotate(45deg) translate(5px, 6px); }
      header .header-bottom .navbar-toggler.active span:nth-of-type(3) {
        transform: rotate(-45deg) translate(5px, -6px); }
    header .header-bottom .navbar-nav .nav-link {
      font-size: 1.2rem;
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      text-align: center;
      padding: 0; }
      header .header-bottom .navbar-nav .nav-link:hover span, header .header-bottom .navbar-nav .nav-link.active span {
        background: #F0F0F0;
        border-color: inherit !important;
        color: inherit !important; }
      header .header-bottom .navbar-nav .nav-link span {
        display: block;
        border-top: 2px solid transparent;
        color: #25282A;
        padding: 0.5rem; }

footer {
  background: #272727; }
  footer .footer-top {
    padding-top: 34px; }
    footer .footer-top li {
      display: inline-block;
      font-size: 1.3rem;
      text-decoration: none; }
      footer .footer-top li span {
        color: #fff; }
  footer .footer-top-social li {
    display: inline-block;
    padding: 40px 10px; }
    footer .footer-top-social li .fa {
      color: #fff;
      font-size: 1.4rem;
      text-decoration: none; }
  footer .footer-body {
    border-top: 1px solid #7C7C7C;
    border-bottom: 1px solid #7C7C7C; }
    footer .footer-body li {
      display: inline-block;
      padding: 10px; }
      footer .footer-body li a {
        color: #7C7C7C;
        text-decoration: none; }
  footer .footer-bottom {
    padding-top: 20px;
    padding-bottom: 10px;
    color: #7C7C7C;
    font-family: "Roboto", sans-serif; }
    footer .footer-bottom h5 {
      font-size: 0.8rem; }

.lead-section {
  background: #F2F2F2; }
  .lead-section figure {
    padding: 10px 5px; }

@media (min-width: 768px) {
  .lead-section figure {
    padding: 25px 75px; } }
@media (min-width: 992px) {
  .lead-section figure {
    padding: 25px 100px; } }
.grid-slider {
  padding-bottom: 20px; }
  .grid-slider .grid-slider-tittle .grid-slider-tittle-bot {
    background: linear-gradient(to right, white 70%, #f3f3f3 100%);
    border-bottom: 1px solid #EAEAEA; }
    .grid-slider .grid-slider-tittle .grid-slider-tittle-bot h3 {
      color: #25282A;
      font-size: 1.1rem;
      text-align: center;
      padding: 10px 57px; }
  .grid-slider .grid-slider-bot {
    padding: 0 10px 0;
    background: #fff;
    margin-top: 0; }
  .grid-slider .grid-slider-bot-item .fa-user-circle {
    color: #D8D8D8;
    font-size: 1.4rem; }
  .grid-slider .grid-slider-bot-item h5 {
    color: #25282A;
    font-size: 1rem;
    font-weight: 500; }
  .grid-slider .grid-slider-bot-item p {
    color: #7C7C7C;
    font-size: 0.85rem; }
  .grid-slider .grid-slider-bot-item .fa-check-circle {
    color: rgba(138, 185, 87, 0.8);
    font-size: 1.1rem; }
  .grid-slider .grid-slider-bot-item .grid-slider-bot-item-number {
    color: #8AB957;
    font-family: "Roboto", sans-serif;
    font-size: 0.85rem;
    font-weight: 500; }
  .grid-slider .comment-number {
    top: 82%;
    right: -6px; }
  .grid-slider .comment-number-position-20 {
    top: 20%;
    right: 0; }
  .grid-slider .comment-number-position-40 {
    top: 42%;
    right: 0; }
  .grid-slider .comment-number-position-60 {
    top: 65%;
    right: 0; }
  .grid-slider .comment-number-position-80 {
    top: 85%;
    right: 0; }
  .grid-slider .grid-slider-mainslider a {
    text-decoration: none; }
    .grid-slider .grid-slider-mainslider a:hover {
      color: #fff; }
  .grid-slider .grid-slider-mainslider li {
    padding-right: 4px; }
  .grid-slider .grid-slider-mainslider .new-item {
    position: relative; }
  .grid-slider .grid-slider-mainslider .news-detail {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-right: auto; }
    .grid-slider .grid-slider-mainslider .news-detail h2 {
      font-size: 1.3rem;
      line-height: 1.6rem;
      max-height: 3.2rem;
      overflow: hidden; }
    .grid-slider .grid-slider-mainslider .news-detail p {
      font-weight: 300;
      color: #F0F0F0; }
      .grid-slider .grid-slider-mainslider .news-detail p .date, .grid-slider .grid-slider-mainslider .news-detail p .time {
        font-size: 0.7rem; }
  .grid-slider .grid-slider-mainslider .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%; }
    .grid-slider .grid-slider-mainslider .owl-nav .owl-prev {
      position: absolute;
      top: 0;
      transform: translateY(-50%);
      left: 0;
      width: 30px;
      height: 30px;
      background-color: rgba(245, 245, 245, 0.7); }
    .grid-slider .grid-slider-mainslider .owl-nav .owl-next {
      position: absolute;
      top: 0;
      transform: translateY(-50%);
      right: 0;
      width: 30px;
      height: 30px;
      background-color: rgba(245, 245, 245, 0.7); }
    .grid-slider .grid-slider-mainslider .owl-nav .fa {
      line-height: 26px;
      color: #fff !important;
      font-size: 2rem; }
  .grid-slider .grid-slider-comments a {
    text-decoration: none; }
    .grid-slider .grid-slider-comments a:hover {
      color: #fff; }
  .grid-slider .grid-slider-comments .nav {
    flex-wrap: nowrap !important; }
  .grid-slider .grid-slider-comments .nav-link {
    padding: 0 1rem; }
  .grid-slider .grid-slider-comments .nav-pills .nav-link.active,
  .grid-slider .grid-slider-comments .nav-pills .show > .nav-link,
  .grid-slider .grid-slider-comments .nav-pills .nav-link:hover {
    border-top: 3px solid rgba(138, 185, 87, 0.8);
    background: linear-gradient(90deg, #FFFFFF 0%, #F3F3F3 100%); }
    .grid-slider .grid-slider-comments .nav-pills .nav-link.active span,
    .grid-slider .grid-slider-comments .nav-pills .show > .nav-link span,
    .grid-slider .grid-slider-comments .nav-pills .nav-link:hover span {
      color: #25282A;
      font-family: "Roboto", sans-serif;
      font-size: 1rem;
      font-weight: 500; }
  .grid-slider .grid-slider-comments .nav-pills .nav-link {
    border-top: 3px solid #fff;
    border-radius: 0rem;
    background-color: #fff;
    color: #25282A; }
  .grid-slider .grid-slider-comments .tab-content {
    border: 1px solid #E4E2E2;
    padding: 5px;
    background: #fff !important; }
  .grid-slider .grid-slider-comments .news-detail {
    width: 80%; }
    .grid-slider .grid-slider-comments .news-detail .news-detail-first-link {
      color: black;
      font-family: "Roboto", sans-serif;
      font-size: 1rem;
      text-decoration: none;
      line-height: 1.4rem;
      max-height: 4.5rem;
      overflow: hidden;
      padding-left: 2px;
      display: block; }
    .grid-slider .grid-slider-comments .news-detail p {
      font-weight: 300;
      color: #6c757d;
      font-size: 0.85rem;
      padding-left: 2px; }
      .grid-slider .grid-slider-comments .news-detail p .news-detail-link {
        text-decoration: none;
        font-size: 0.85rem; }

@media (min-width: 450px) {
  .grid-slider .comment-number-position-20 {
    top: 15%;
    right: 0; }
  .grid-slider .comment-number-position-40 {
    top: 35%;
    right: 0; }
  .grid-slider .comment-number-position-60 {
    top: 58%;
    right: 0; }
  .grid-slider .comment-number-position-80 {
    top: 80%;
    right: 0; } }
@media (min-width: 576px) {
  .grid-slider .comment-number-position-20 {
    top: 15%;
    right: 0; }
  .grid-slider .comment-number-position-40 {
    top: 40%;
    right: 0; }
  .grid-slider .comment-number-position-60 {
    top: 60%;
    right: 0; }
  .grid-slider .comment-number-position-80 {
    top: 80%;
    right: 0; } }
@media (min-width: 768px) {
  .grid-slider .comment-number-position-20 {
    top: 20%;
    right: 0; }
  .grid-slider .comment-number-position-40 {
    top: 40%;
    right: 0; }
  .grid-slider .comment-number-position-60 {
    top: 60%;
    right: 0; }
  .grid-slider .comment-number-position-80 {
    top: 80%;
    right: 0; }
  .grid-slider .grid-slider-mainslider .news-detail h2 {
    font-size: 1.6rem;
    line-height: 2rem;
    max-height: 4rem; }
  .grid-slider .grid-slider-mainslider .news-detail p {
    font-weight: 300;
    color: #F0F0F0; }
    .grid-slider .grid-slider-mainslider .news-detail p .date, .grid-slider .grid-slider-mainslider .news-detail p .time {
      font-size: 0.9rem; } }
.discussions,
.news-list {
  margin-bottom: 45px; }
  .discussions .discussions-tittle,
  .news-list .discussions-tittle {
    background: linear-gradient(90deg, #FFFFFF 0%, #F3F3F3 100%);
    border-bottom: 1px solid #EAEAEA; }
    .discussions .discussions-tittle h3,
    .news-list .discussions-tittle h3 {
      color: #25282A;
      font-size: 1.1rem;
      text-align: center;
      padding: 10px 41px;
      border-bottom: 1px solid #EAEAEA; }
    .discussions .discussions-tittle .discussions-div,
    .news-list .discussions-tittle .discussions-div {
      padding: 0 12px; }
      .discussions .discussions-tittle .discussions-div .discussions-number,
      .news-list .discussions-tittle .discussions-div .discussions-number {
        color: #8AB957;
        font-family: "Roboto", sans-serif;
        font-size: 1.4rem;
        font-weight: 700; }
      .discussions .discussions-tittle .discussions-div h5,
      .news-list .discussions-tittle .discussions-div h5 {
        color: #8D8B8B;
        font-size: 1rem; }
      .discussions .discussions-tittle .discussions-div p,
      .news-list .discussions-tittle .discussions-div p {
        color: #313131;
        font-size: 1rem;
        font-style: italic; }
        .discussions .discussions-tittle .discussions-div p .date, .discussions .discussions-tittle .discussions-div p .time,
        .news-list .discussions-tittle .discussions-div p .date,
        .news-list .discussions-tittle .discussions-div p .time {
          font-size: 0.85rem;
          color: #6c757d;
          font-style: normal; }
    .discussions .discussions-tittle .discussions-article h5,
    .news-list .discussions-tittle .discussions-article h5 {
      font-size: 1.1rem;
      line-height: 1.4rem;
      max-height: 2.8rem;
      overflow: hidden; }
      .discussions .discussions-tittle .discussions-article h5 .discussions-link,
      .news-list .discussions-tittle .discussions-article h5 .discussions-link {
        text-decoration: none;
        color: #000000; }
    .discussions .discussions-tittle .discussions-article p,
    .news-list .discussions-tittle .discussions-article p {
      font-weight: 300;
      color: #6c757d; }
      .discussions .discussions-tittle .discussions-article p .date, .discussions .discussions-tittle .discussions-article p .time,
      .news-list .discussions-tittle .discussions-article p .date,
      .news-list .discussions-tittle .discussions-article p .time {
        font-size: 0.85rem; }
      .discussions .discussions-tittle .discussions-article p .discussions-link,
      .news-list .discussions-tittle .discussions-article p .discussions-link {
        text-decoration: none;
        font-size: 0.9rem; }
  .discussions .news-item .comment-number,
  .news-list .news-item .comment-number {
    top: 82%;
    right: 0; }
  .discussions .news-item .comment-number-position-75,
  .news-list .news-item .comment-number-position-75 {
    top: 70%;
    right: 0 !important; }
  .discussions .news-item .news-item-detail a,
  .news-list .news-item .news-item-detail a {
    text-decoration: none; }
    .discussions .news-item .news-item-detail a:hover,
    .news-list .news-item .news-item-detail a:hover {
      color: #fff; }
  .discussions .news-item .news-item-detail h5,
  .news-list .news-item .news-item-detail h5 {
    font-size: 1.1rem;
    line-height: 1.4rem;
    max-height: 2.8rem;
    overflow: hidden; }
    .discussions .news-item .news-item-detail h5 .news-item-link,
    .news-list .news-item .news-item-detail h5 .news-item-link {
      text-decoration: none;
      color: #000000; }
  .discussions .news-item .news-item-detail p,
  .news-list .news-item .news-item-detail p {
    font-weight: 300;
    color: #6c757d; }
    .discussions .news-item .news-item-detail p .date, .discussions .news-item .news-item-detail p .time,
    .news-list .news-item .news-item-detail p .date,
    .news-list .news-item .news-item-detail p .time {
      font-size: 0.85rem; }
    .discussions .news-item .news-item-detail p .news-detail-link,
    .news-list .news-item .news-item-detail p .news-detail-link {
      text-decoration: none;
      font-size: 0.9rem; }

@media (min-width: 450px) {
  .discussions .news-item .comment-number-position-75 {
    top: 60%;
    right: 6px; } }
@media (min-width: 576px) {
  .discussions .news-item .comment-number-position-75 {
    top: 80%;
    right: 6px; } }
@media (min-width: 768px) {
  .discussions .news-item .comment-number-position-75 {
    top: 75%; } }
@media (min-width: 992px) {
  .discussions .news-item .comment-number-position-75 {
    top: 70%; } }
.newest-coments .owl-carousel .owl-dots .owl-dot.active span,
.newest-coments .owl-carousel .owl-dots .owl-dot:hover span {
  background: #0BAE92; }
.newest-coments .owl-carousel .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  margin: 0px 7px;
  background: #BABABA;
  display: block;
  transition: opacity 200ms ease 0s;
  border-radius: 30px; }
.newest-coments .lineBefore:before {
  content: '';
  display: block;
  width: 140px;
  height: 2.5px;
  background: #EAEAEA;
  margin-top: 10px;
  margin-bottom: 10px; }
.newest-coments .line-left:before {
  margin-right: 30px auto 0; }
.newest-coments .newest-coments-tittle {
  border-top: 3px solid rgba(138, 185, 87, 0.8);
  background: linear-gradient(90deg, #FFFFFF 0%, #F3F3F3 100%); }
  .newest-coments .newest-coments-tittle h2 {
    padding: 11px;
    color: #25282A;
    font-size: 1.1rem; }
.newest-coments .newest-coments-slider {
  padding-top: 30px;
  padding-bottom: 26px; }
  .newest-coments .newest-coments-slider li {
    position: relative; }
    .newest-coments .newest-coments-slider li:after {
      content: '';
      display: block;
      width: 32px;
      height: 32px;
      top: 100%;
      margin-left: 30px;
      border: 16px solid transparent;
      border-top-color: #FFFFFF; }
  .newest-coments .newest-coments-slider .slider-item {
    position: relative;
    padding: 15px 34px; }
    .newest-coments .newest-coments-slider .slider-item h5 {
      color: #25282A;
      font-size: 1rem;
      font-weight: normal; }
    .newest-coments .newest-coments-slider .slider-item p {
      color: #25282A;
      font-size: 1.1rem;
      font-style: italic;
      font-weight: 700; }
      .newest-coments .newest-coments-slider .slider-item p .date, .newest-coments .newest-coments-slider .slider-item p .time, .newest-coments .newest-coments-slider .slider-item p .slider-item-link {
        font-size: 0.85rem;
        color: #6c757d;
        font-style: normal; }
      .newest-coments .newest-coments-slider .slider-item p .slider-item-link {
        text-decoration: none; }
    .newest-coments .newest-coments-slider .slider-item h6 {
      color: #7C7C7C;
      font-size: 1rem; }

.youtube-comments,
.news-comments,
.sport-comments {
    /*
    .border-top-green{
        border-top: 3px solid $comments-border-color-green; 
    }

    .border-top-light-blue{
        border-top: 3px solid $comments-border-color-blue;
    }
    */ }
  .youtube-comments .coments-tittle,
  .news-comments .coments-tittle,
  .sport-comments .coments-tittle {
    background: linear-gradient(to right, white 70%, #f3f3f3 100%); }
    .youtube-comments .coments-tittle h2,
    .news-comments .coments-tittle h2,
    .sport-comments .coments-tittle h2 {
      padding: 11px;
      color: #25282A;
      font-size: 1.1rem; }
  .youtube-comments .comments-body,
  .news-comments .comments-body,
  .sport-comments .comments-body {
    padding-top: 30px; }
    .youtube-comments .comments-body .news-item,
    .news-comments .comments-body .news-item,
    .sport-comments .comments-body .news-item {
      position: relative; }
      .youtube-comments .comments-body .news-item a,
      .news-comments .comments-body .news-item a,
      .sport-comments .comments-body .news-item a {
        text-decoration: none; }
        .youtube-comments .comments-body .news-item a:hover,
        .news-comments .comments-body .news-item a:hover,
        .sport-comments .comments-body .news-item a:hover {
          color: #fff; }
      .youtube-comments .comments-body .news-item .news-item-footer,
      .news-comments .comments-body .news-item .news-item-footer,
      .sport-comments .comments-body .news-item .news-item-footer {
        padding-left: 12px;
        padding-right: 20px;
        padding-top: 12px;
        padding-bottom: 12px; }
        .youtube-comments .comments-body .news-item .news-item-footer h5,
        .news-comments .comments-body .news-item .news-item-footer h5,
        .sport-comments .comments-body .news-item .news-item-footer h5 {
          color: #8D8B8B;
          font-size: 1rem; }
        .youtube-comments .comments-body .news-item .news-item-footer p,
        .news-comments .comments-body .news-item .news-item-footer p,
        .sport-comments .comments-body .news-item .news-item-footer p {
          color: #25282A;
          font-size: 1rem;
          line-height: 1.5rem;
          max-height: 3.0rem;
          overflow: hidden;
          font-style: italic; }
          .youtube-comments .comments-body .news-item .news-item-footer p .date, .youtube-comments .comments-body .news-item .news-item-footer p .time,
          .news-comments .comments-body .news-item .news-item-footer p .date,
          .news-comments .comments-body .news-item .news-item-footer p .time,
          .sport-comments .comments-body .news-item .news-item-footer p .date,
          .sport-comments .comments-body .news-item .news-item-footer p .time {
            font-size: 0.85rem;
            color: #ABABAB;
            font-style: normal; }
    .youtube-comments .comments-body .news-detail,
    .news-comments .comments-body .news-detail,
    .sport-comments .comments-body .news-detail {
      position: absolute;
      bottom: 33%;
      width: 100%;
      margin: 0 auto;
      padding-left: 10px; }
      .youtube-comments .comments-body .news-detail h2,
      .news-comments .comments-body .news-detail h2,
      .sport-comments .comments-body .news-detail h2 {
        font-size: 1.1rem;
        line-height: 1.4rem;
        max-height: 2.8rem;
        overflow: hidden; }
      .youtube-comments .comments-body .news-detail p,
      .news-comments .comments-body .news-detail p,
      .sport-comments .comments-body .news-detail p {
        font-weight: 300;
        color: #F0F0F0; }
        .youtube-comments .comments-body .news-detail p .date, .youtube-comments .comments-body .news-detail p .time,
        .news-comments .comments-body .news-detail p .date,
        .news-comments .comments-body .news-detail p .time,
        .sport-comments .comments-body .news-detail p .date,
        .sport-comments .comments-body .news-detail p .time {
          font-size: 0.8rem; }
        .youtube-comments .comments-body .news-detail p .news-detail-link,
        .news-comments .comments-body .news-detail p .news-detail-link,
        .sport-comments .comments-body .news-detail p .news-detail-link {
          text-decoration: none;
          font-size: 0.8rem; }
    .youtube-comments .comments-body .news-icon,
    .news-comments .comments-body .news-icon,
    .sport-comments .comments-body .news-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      width: 100%; }
      .youtube-comments .comments-body .news-icon .fa,
      .news-comments .comments-body .news-icon .fa,
      .sport-comments .comments-body .news-icon .fa {
        font-size: 3rem;
        color: #fff;
        width: 57px;
        height: 57px;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        line-height: 57px;
        text-align: center; }

.news-comments {
  margin-bottom: 46px; }

.sport-comments {
  margin-bottom: 76px; }

@media (min-width: 576px) {
  .youtube-comments .comments-body .news-detail,
  .news-comments .comments-body .news-detail,
  .sport-comments .comments-body .news-detail {
    bottom: 36%; }
  .youtube-comments .comments-body .comment-number,
  .news-comments .comments-body .comment-number,
  .sport-comments .comments-body .comment-number {
    top: 70%; }
  .youtube-comments .comments-body .news-icon .fa,
  .news-comments .comments-body .news-icon .fa,
  .sport-comments .comments-body .news-icon .fa {
    font-size: 2rem; } }
@media (min-width: 768px) {
  .youtube-comments .comments-body .news-detail,
  .news-comments .comments-body .news-detail,
  .sport-comments .comments-body .news-detail {
    bottom: 37%; }
  .youtube-comments .comments-body .comment-number,
  .news-comments .comments-body .comment-number,
  .sport-comments .comments-body .comment-number {
    top: 70%; }
  .youtube-comments .comments-body .news-icon .fa,
  .news-comments .comments-body .news-icon .fa,
  .sport-comments .comments-body .news-icon .fa {
    font-size: 2rem; } }
@media (min-width: 992px) {
  .youtube-comments .comments-body .news-detail,
  .news-comments .comments-body .news-detail,
  .sport-comments .comments-body .news-detail {
    bottom: 33%; }
  .youtube-comments .comments-body .comment-number,
  .news-comments .comments-body .comment-number,
  .sport-comments .comments-body .comment-number {
    top: 80%; }
  .youtube-comments .comments-body .news-icon .fa,
  .news-comments .comments-body .news-icon .fa,
  .sport-comments .comments-body .news-icon .fa {
    font-size: 2.5rem; } }
@media (min-width: 1200px) {
  .youtube-comments .comments-body .news-detail,
  .news-comments .comments-body .news-detail,
  .sport-comments .comments-body .news-detail {
    bottom: 30%; }
  .youtube-comments .comments-body .news-icon .fa,
  .news-comments .comments-body .news-icon .fa,
  .sport-comments .comments-body .news-icon .fa {
    font-size: 3rem; } }
.banner-section,
.single-news-banner {
  margin-top: 10px;
  margin-bottom: 10px; }

@media (min-width: 768px) {
  .banner-section {
    margin-top: 25px;
    margin-bottom: 25px; }

  .single-news-banner {
    margin-top: 15px;
    margin-bottom: 15px; } }
@media (min-width: 992px) {
  .banner-section {
    margin-top: 40px;
    margin-bottom: 40px; }

  .single-news-banner {
    margin-top: 22px;
    margin-bottom: 22px; } }
.header-bottom {
  border-bottom: 1px solid #e9ecef; }

.single-news {
  margin-top: 10px;
  margin-left: 10px; }
  .single-news .single-news-wrapper .single-news-header .caption-picture {
    position: absolute;
    bottom: 7px;
    right: 11px; }
    .single-news .single-news-wrapper .single-news-header .caption-picture .caption-picture {
      font-size: 0.85rem; }
    .single-news .single-news-wrapper .single-news-header .caption-picture figcaption {
      font-style: italic; }
  .single-news .single-news-wrapper .single-news-header .category {
    color: #3E3E3E;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding: 6px;
    background: #EBEBEB; }
  .single-news .single-news-wrapper .single-news-header a {
    text-decoration: none; }
    .single-news .single-news-wrapper .single-news-header a:hover {
      color: #fff; }
  .single-news .single-news-wrapper .single-news-header .comment-number {
    top: -0.1%;
    right: 65%; }
  .single-news .single-news-wrapper .single-news-header h2 {
    color: #313131;
    font-size: 1.9rem;
    line-height: 2.4rem;
    max-height: 4.8rem;
    overflow: hidden;
    margin-top: 14px; }
  .single-news .single-news-wrapper .single-news-header p {
    color: #7C7C7C;
    font-size: 1rem; }
  .single-news .single-news-wrapper .single-news-header figure {
    margin-bottom: 17px; }
  .single-news .single-news-wrapper .single-news-content p {
    color: #313131;
    font-size: 1.2rem; }
  .single-news .single-news-wrapper .single-news-content figure {
    margin-bottom: 30px; }

@media (min-width: 450px) {
  .single-news {
    margin-top: 15px;
    margin-left: 15px; }
    .single-news .single-news-wrapper .single-news-header .comment-number {
      right: 75%; } }
@media (min-width: 576px) {
  .single-news {
    margin-top: 20px;
    margin-left: 20px; }
    .single-news .single-news-wrapper .single-news-header .comment-number {
      right: 80%; } }
@media (min-width: 768px) {
  .single-news {
    margin-top: 28px;
    margin-left: 35px; }
    .single-news .single-news-wrapper .single-news-header .comment-number {
      right: 85%; } }
@media (min-width: 1200px) {
  .single-news .single-news-wrapper .single-news-header .comment-number {
    right: 87%; } }
.input-form {
  padding: 10px;
  padding-bottom: 0;
  border: 1px solid rgba(213, 213, 213, 0.54);
  background: rgba(138, 185, 87, 0.15);
  margin-bottom: 26px; }

.form-control {
  border-radius: 2px;
  background: #fff;
  border: 0.5px solid #E2E1E7; }
  .form-control:focus {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
    border-color: #ced4da; }

.btn-success {
  background: #8AB957 !important;
  border-color: #8AB957 !important; }

.comment-wrapper {
  margin-top: 26px;
  margin-bottom: 35px; }
  .comment-wrapper .comment-inner {
    padding-top: 16px;
    padding-left: 16px;
    border: 1px solid rgba(213, 213, 213, 0.54);
    background: #fff;
    margin-bottom: 14px; }
    .comment-wrapper .comment-inner .comment-item h6 {
      color: #25282A;
      font-size: 1.07rem;
      font-weight: 500; }
    .comment-wrapper .comment-inner .comment-item .datetime {
      color: #7C7C7C;
      font-size: 0.78rem;
      font-weight: 300; }
    .comment-wrapper .comment-inner .comment-item .comment-p {
      color: #313131;
      font-size: 1.07rem; }
    .comment-wrapper .comment-inner .comment-item .fa {
      font-size: 1.1rem;
      color: #8AB957;
      text-decoration: none;
      padding: 10px;
      background: rgba(138, 185, 87, 0.15); }
      .comment-wrapper .comment-inner .comment-item .fa span {
        color: #3E3E3E;
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        font-weight: 500; }
    .comment-wrapper .comment-inner .comment-item .comment-form {
      padding: 10px;
      padding-bottom: 0;
      border: 1px solid rgba(213, 213, 213, 0.54);
      background: rgba(138, 185, 87, 0.15); }

.comment-read-more h2 {
  color: #3E3E3E;
  font-size: 1.07rem;
  border-bottom: 1px solid #D8D8D8;
  margin-bottom: 27px; }
.comment-read-more .read-more-item {
  margin-bottom: 27px; }
  .comment-read-more .read-more-item a {
    text-decoration: none; }
    .comment-read-more .read-more-item a p {
      color: #313131;
      font-size: 1rem; }

.right-side {
  background: #F2F2F2;
  padding: 20px; }
  .right-side .news-item .news-item-detail .comment-number-single-page {
    top: 25.5%;
    right: 18px; }
  .right-side .news-item .news-item-detail .comment-number-position-44 {
    top: 44.5%; }
  .right-side .news-item .news-item-detail .comment-number-position-54 {
    top: 54.5%; }
  .right-side .last-comments {
    background: linear-gradient(90deg, #FFFFFF 0%, #F3F3F3 100%);
    border-bottom: 1px solid #EAEAEA; }
    .right-side .last-comments h3 {
      color: #25282A;
      font-size: 1.1rem;
      text-align: center;
      padding: 10px 41px;
      border-bottom: 1px solid #EAEAEA; }
    .right-side .last-comments .discussions-div {
      padding: 12px;
      padding-bottom: 0; }
      .right-side .last-comments .discussions-div .line:after {
        width: 100%;
        height: 1px; }
      .right-side .last-comments .discussions-div .discussions-number {
        color: #8AB957;
        font-family: "Roboto", sans-serif;
        font-size: 1.57rem;
        font-weight: 700; }
      .right-side .last-comments .discussions-div h5 {
        color: #8D8B8B;
        font-size: 1rem; }
      .right-side .last-comments .discussions-div p {
        color: #313131;
        font-size: 1rem;
        font-style: italic; }
        .right-side .last-comments .discussions-div p .date, .right-side .last-comments .discussions-div p .time {
          font-size: 0.85rem;
          color: #6c757d;
          font-style: normal; }

@media (min-width: 992px) {
  .right-side .news-item .news-item-detail .comment-number-single-page {
    top: 25.2%;
    right: 18px; }
  .right-side .news-item .news-item-detail .comment-number-position-44 {
    top: 42.5%; }
  .right-side .news-item .news-item-detail .comment-number-position-54 {
    top: 51.5%; } }
@media (min-width: 1200px) {
  .right-side .news-item .news-item-detail .comment-number-single-page {
    top: 25.5%;
    right: 18px; }
  .right-side .news-item .news-item-detail .comment-number-position-44 {
    top: 44.5%; }
  .right-side .news-item .news-item-detail .comment-number-position-54 {
    top: 54.5% !important; } }
.single-news .single-news-header h4 {
  color: #313131;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.07rem;
  line-height: 1.6rem;
  max-height: 3.2rem;
  overflow: hidden; }
.single-news .comments-button .btn-secondary {
  padding: 7px 12px;
  background: #F2F2F2 !important;
  border-color: #F2F2F2 !important;
  color: #3E3E3E !important;
  font-size: 1.4rem; }
  .single-news .comments-button .btn-secondary .fa {
    font-size: 1.4rem; }
.single-news .comment-wrapper-top a {
  text-decoration: none; }
  .single-news .comment-wrapper-top a p {
    color: #25282A;
    font-size: 1.07rem; }
.single-news .comment-wrapper-top .fa {
  color: #6c757d;
  font-size: 1.2rem;
  padding-right: 10px; }
.single-news .right-side .news-item .news-item-detail .comment-number {
  top: 24.5%;
  right: 18px; }
.single-news .right-side .news-item .news-item-detail .comment-number-position-42 {
  top: 42.5%; }
.single-news .right-side .news-item .news-item-detail .comment-number-position-52 {
  top: 52%; }

@media (min-width: 992px) {
  .single-news .right-side .news-item .news-item-detail .comment-number {
    top: 23.5%;
    right: 18px; }
  .single-news .right-side .news-item .news-item-detail .comment-number-position-42 {
    top: 39.5%; }
  .single-news .right-side .news-item .news-item-detail .comment-number-position-52 {
    top: 47.8%; } }
@media (min-width: 1200px) {
  .single-news .right-side .news-item .news-item-detail .comment-number {
    top: 24.5%;
    right: 18px; }
  .single-news .right-side .news-item .news-item-detail .comment-number-position-42 {
    top: 42.5%; }
  .single-news .right-side .news-item .news-item-detail .comment-number-position-52 {
    top: 52%; } }
.news-list .comments-button .btn-success {
  padding: 3px 10px;
  color: #fff !important;
  font-size: 1.4rem; }
  .news-list .comments-button .btn-success .fa {
    font-size: 1.4rem; }
.news-list .news-item .news-item-detail h5 {
  font-size: 1.2rem;
  line-height: 1.7rem;
  max-height: 3.4rem;
  overflow: hidden; }
  .news-list .news-item .news-item-detail h5 a {
    color: #313131; }
    .news-list .news-item .news-item-detail h5 a:hover {
      color: #343a40; }
.news-list .news-item .news-item-detail .description {
  color: #7C7C7C;
  font-size: 1rem;
  line-height: 1.4rem;
  max-height: 2.8rem;
  overflow: hidden; }
.news-list .news-item .news-item-detail .comment-number-news-list {
  top: 14%;
  right: 0; }
.news-list .news-item .news-item-detail .comment-number-position-50 {
  top: 54%; }
.news-list .news-item .news-item-detail .comment-number-position-64 {
  top: 74.5%; }
.news-list .news-item .news-item-detail .news-list-comment-number-position-4 {
  top: 4%; }
.news-list .news-item .news-item-detail .news-list-comment-number-position-14 {
  top: 14%; }
.news-list .news-item .news-item-detail .news-list-comment-number-position-24 {
  top: 25%; }
.news-list .news-item .news-item-detail .news-list-comment-number-position-34 {
  top: 35%; }
.news-list .news-item .news-item-detail .news-list-comment-number-position-44 {
  top: 47%; }
.news-list .news-item .news-item-detail .news-list-comment-number-position-54 {
  top: 58%; }
.news-list .news-item .news-item-detail .news-list-comment-number-position-64 {
  top: 68%; }
.news-list .news-item .news-item-detail .news-list-comment-number-position-74 {
  top: 78%; }
.news-list .news-item .news-item-detail .news-list-comment-number-position-84 {
  top: 89%; }

@media (min-width: 768px) {
  .news-list .news-item .news-item-detail .news-list-comment-number-position-44 {
    top: 45.5%; }
  .news-list .news-item .news-item-detail .news-list-comment-number-position-54 {
    top: 55.5%; }
  .news-list .news-item .news-item-detail .news-list-comment-number-position-64 {
    top: 67%; }
  .news-list .news-item .news-item-detail .news-list-comment-number-position-74 {
    top: 77%; }
  .news-list .news-item .news-item-detail .news-list-comment-number-position-84 {
    top: 88%; } }
@media (min-width: 992px) {
  .news-list .news-item .news-item-detail .comment-number-position-50 {
    top: 49%; }
  .news-list .news-item .news-item-detail .comment-number-position-64 {
    top: 68%; }
  .news-list .news-item .news-item-detail .news-list-comment-number-position-44 {
    top: 46%; }
  .news-list .news-item .news-item-detail .news-list-comment-number-position-54 {
    top: 56%; }
  .news-list .news-item .news-item-detail .news-list-comment-number-position-64 {
    top: 67%; }
  .news-list .news-item .news-item-detail .news-list-comment-number-position-74 {
    top: 77%; }
  .news-list .news-item .news-item-detail .news-list-comment-number-position-84 {
    top: 87%; } }
@media (min-width: 1200px) {
  .news-list .news-item .news-item-detail .comment-number-news-list {
    top: 14%; }
  .news-list .news-item .news-item-detail .comment-number-position-50 {
    top: 54%; }
  .news-list .news-item .news-item-detail .comment-number-position-64 {
    top: 74.5%; }
  .news-list .news-item .news-item-detail .news-list-comment-number-position-4 {
    top: 4%; }
  .news-list .news-item .news-item-detail .news-list-comment-number-position-14 {
    top: 14%; }
  .news-list .news-item .news-item-detail .news-list-comment-number-position-24 {
    top: 24%; }
  .news-list .news-item .news-item-detail .news-list-comment-number-position-34 {
    top: 34%; }
  .news-list .news-item .news-item-detail .news-list-comment-number-position-44 {
    top: 44%; }
  .news-list .news-item .news-item-detail .news-list-comment-number-position-54 {
    top: 54%; }
  .news-list .news-item .news-item-detail .news-list-comment-number-position-64 {
    top: 64%; }
  .news-list .news-item .news-item-detail .news-list-comment-number-position-74 {
    top: 74%; }
  .news-list .news-item .news-item-detail .news-list-comment-number-position-84 {
    top: 84%; } }

/*# sourceMappingURL=theme.css.map */
