

.banner-section,
.single-news-banner{
    margin-top: 5px;
    margin-bottom: 5px;
}


@media(min-width:768px){

    .banner-section{

        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .single-news-banner{
        margin-top: 15px;
        margin-bottom: 15px;
    }
} 

@media(min-width:992px){

    .banner-section{

        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    .single-news-banner{
        margin-top: 22px;
        margin-bottom: 22px;
    }
} 

