$comments-border-color: #E0311F;
$comments-div-h5-color:#8D8B8B;
$comments-div-p-color:#25282A;
$comments-div-datetime-color: #ABABAB;
$comments-border-color-green: #8AB957;
$comments-border-color-blue: #18B6E9;


.youtube-comments,
.news-comments,
.sport-comments{

    .youtube-coments-tittle{
        border-top: 3px solid $comments-border-color;	
        background: linear-gradient(90deg, #FFFFFF 0%, #F3F3F3 100%);

        h2{
            padding: 11px;
            color: $newest-coments-h5-color;	
            font-family: $font-roboto;	
            font-size: 1.1rem;	
            font-weight: $font-weight-medium;
        }
    }

    .border-top-green{
        border-top: 3px solid $comments-border-color-green; 
    }

    .border-top-light-blue{
        border-top: 3px solid $comments-border-color-blue;
    }

    //COMMENT NUMBER
    .comment-number{
        position: absolute;
        bottom:13%;
        right: -9px;

        color:$white;
        font-family: $font-roboto;
        font-weight: $font-weight-medium;
        padding: 6px;
        font-size: 0.85rem;

        display: inline-block;
        text-decoration: none;

        &:after{
            content: '';
            display: block;
            width: 5px; 
            height: 5px;
            position: absolute;
            top:100%;
            left:70%;
            border: 5px solid transparent;
            border-top-color: $comment-triangle-color;
            border-left-color: $comment-triangle-color;
        }
    }

    .youtube-comments-body{
        padding-top: 30px;
        //spadding-bottom: 26px;

        .news-item{
            position: relative;

            .news-item-footer{
                padding-left: 12px;
                padding-right: 20px;
                padding-top: 12px;
                padding-bottom: 12px;

                h5{
                    color: $comments-div-h5-color;
                    font-family: $font-roboto;	
                    font-size: 1rem;
                }

                p{
                    color: $comments-div-p-color;	
                    font-family: $font-roboto;	
                    font-size: 1rem;
                    line-height: 1.5rem;
                    max-height: 3.0rem;
                    overflow: hidden;
                    font-style: $font-weight-italic;

                    .date, .time{
                        font-size: 0.85rem;
                        font-family: $font-roboto;
                        font-weight: $font-weight-light;
                        color:$comments-div-datetime-color;
                        font-style: $font-weight-normal;
                    }
                }
            }
        }

        .news-detail{
            position: absolute;
            bottom:33%;
            width: 100%;
            margin: 0 auto;
            padding-left:10px;

            h2{
                font-family: $font-roboto;
                font-size: 1.1rem;
                line-height: 1.4rem;
                max-height: 2.8rem;
                overflow: hidden;
                a{
                    text-decoration: none;
                }   
            }

            p{
                font-family: $font-roboto;
                font-weight: $font-weight-light;
                color:#F0F0F0;

                .date, .time{
                    font-size: 0.8rem;
                }

                .news-detail-link{
                    text-decoration: none;
                    font-size: 0.8rem;
                }
            }
        }

        .news-icon{
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            text-align: center;
            width: 100%;

            .fa{
                font-size: 3rem;
                color: $white;
                //background: rgba(255, 255, 255, 0.3);
            }
        }
    }

}

.news-comments{
    margin-bottom: 46px;
}

.sport-comments{
    margin-bottom: 76px;
}


@media(min-width: 576px){

    .youtube-comments,
    .news-comments,
    .sport-comments{
        .youtube-comments-body{
            .news-detail{
                bottom:34%;
            }

            .news-icon{

                .fa{
                    font-size: 2rem;
                    //background: rgba(255, 255, 255, 0.3);
                }
            }
        }

    }
}

@media(min-width: 768px){

    .youtube-comments,
    .news-comments,
    .sport-comments{
        .youtube-comments-body{
            .news-detail{
                bottom:36%;
            }

            .news-icon{

                .fa{
                    font-size: 2rem;
                    //background: rgba(255, 255, 255, 0.3);
                }
            }
        }

    }
}

@media(min-width: 992px){

    .youtube-comments,
    .news-comments,
    .sport-comments{
        .youtube-comments-body{
            .news-detail{
                bottom:33%;
            }

            .news-icon{

                .fa{
                    font-size: 2.5rem;
                    //background: rgba(255, 255, 255, 0.3);
                }
            }
        }

    }
}

@media(min-width: 1200px){

    .youtube-comments,
    .news-comments,
    .sport-comments{
        .youtube-comments-body{
            .news-detail{
                bottom:30%;
            }
            .news-icon{

                .fa{
                    font-size: 3rem;
                    //background: rgba(255, 255, 255, 0.3);
                }
            }
        }

    }
}