$comments-border-color: #E0311F;
$comments-div-h5-color:#8D8B8B;
$comments-div-p-color:#25282A;
$comments-div-datetime-color: #ABABAB;
$comments-border-color-green: #8AB957;
$comments-border-color-blue: #18B6E9;
$comments-linear-background-white: rgba(255,255,255, 1);
$comments-linear-background-gray: rgba(243,243,243, 1);

.youtube-comments,
.news-comments,
.sport-comments{

    .coments-tittle{
        //border-top: 3px solid $comments-border-color;	
        background: linear-gradient(to right, $comments-linear-background-white 70%, $comments-linear-background-gray 100%);

        h2{
            padding: 11px;
            color: $newest-coments-h5-color;	
            font-size: 1.1rem;	
        }
    }

    .comments-body{
        padding-top: 30px;

        .news-item{
            position: relative;
            
            .news-item-top{
                background: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,0.9));
            }
            
            a{
                text-decoration: none;

                &:hover{
                    color:$white;
                }

            }

            .news-item-footer{
                padding-left: 12px;
                padding-right: 20px;
                padding-top: 12px;
                padding-bottom: 12px;

                h5{
                    color: $comments-div-h5-color; 	
                    font-size: 1rem;
                }

                p{
                    color: $comments-div-p-color;
                    font-size: 1rem;
                    line-height: 1.5rem;
                    max-height: 3.0rem;
                    overflow: hidden;
                    font-style: $font-weight-italic;

                    .date, .time{
                        font-size: 0.85rem;
                        color:$comments-div-datetime-color;
                        font-style: $font-weight-normal;
                    }
                }
            }
        }

        .news-detail{
            position: absolute;
            bottom:0%;
            width: 100%;
            margin: 0 auto;
            padding-left:10px;

            h2{
                font-size: 1.1rem;
                line-height: 1.4rem;
                max-height: 2.8rem;
                overflow: hidden;

            }

            p{
                font-weight: $font-weight-light;
                color:#F0F0F0;

                .date, .time{
                    font-size: 0.8rem;
                }

                .news-detail-link{
                    text-decoration: none;
                    font-size: 0.8rem;
                }
            }
        }

        .news-icon{
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            text-align: center;
            width: 100%;

            .fa{
                font-size: 3rem;
                color: $white;
                //background: rgba(255, 255, 255, 0.3);
                width: 57px;
                height: 57px;
                background: rgba(255, 255, 255, 0.3);
                border-radius: 50%;
                line-height: 57px;
                text-align: center;
            }
        }
    }

}

.news-comments{
    margin-bottom: 23px;
}

.sport-comments{
    margin-bottom: 38px;
}


@media(min-width: 576px){

    .youtube-comments,
    .news-comments,
    .sport-comments{
        .comments-body{
            .comment-number{
                top:70%;
            }

            .news-icon{

                .fa{
                    font-size: 2rem;
                    //background: rgba(255, 255, 255, 0.3);
                }
            }
        }

    }
    
    .news-comments{
    margin-bottom: 46px;
}

.sport-comments{
    margin-bottom: 76px;
}
}

@media(min-width: 768px){

    .youtube-comments,
    .news-comments,
    .sport-comments{
        .comments-body{

            .comment-number{
                top:70%;
            }
            
            .news-icon{

                .fa{
                    font-size: 2rem;
                    //background: rgba(255, 255, 255, 0.3);
                }
            }
        }

    }
}

@media(min-width: 992px){

    .youtube-comments,
    .news-comments,
    .sport-comments{
        .comments-body{

            .comment-number{
                top:80%;
            }
            
            .news-icon{

                .fa{
                    font-size: 2.5rem;
                    //background: rgba(255, 255, 255, 0.3);
                }
            }
        }

    }
}

@media(min-width: 1200px){

    .youtube-comments,
    .news-comments,
    .sport-comments{
        .comments-body{

            .news-icon{

                .fa{
                    font-size: 3rem;
                    //background: rgba(255, 255, 255, 0.3);
                }
            }
        }

    }
}