$discussions-link-color:#000000;
$discussions-div-number-color: #8AB957;

$discussions-div-h5-color: #8D8B8B;
$discussions-div-p-color: #313131;

.discussions{

    .discussions-tittle{

        border-top: 3px solid $grid-slider-border-color;	
        background: linear-gradient(90deg, #FFFFFF 0%, #F3F3F3 100%);
        border-bottom:1px solid #EAEAEA;

        h3{
            color: $grid-slider-h3-color;	
            font-family: $font-roboto;	
            font-size: 1.1rem;	
            font-weight: $font-weight-medium;
            text-align: center;
            padding: 10px 41px;
        }

        .discussions-div{

            padding: 0 12px;

            .discussions-number{
                color: $discussions-div-number-color;	
                font-family: $font-roboto;	
                font-size: 1.4rem;	
                font-weight: $font-weight-bold;
            }

            h5{
                color: $discussions-div-h5-color;
                font-family: $font-roboto;	
                font-size: 1rem;	

            }

            p{
                color: $discussions-div-p-color;	
                font-family: $font-roboto;	
                font-size: 1rem;	
                font-style: $font-weight-italic;

                .date, .time{
                    font-size: 0.85rem;
                    font-family: $font-roboto;
                    font-weight: $font-weight-light;
                    color:$gray-600;
                    font-style: $font-weight-normal;
                }
            }

        }


        .discussions-article{

            h5{
                font-family: $font-roboto;	
                font-size: 1.1rem;
                line-height: 1.4rem;
                max-height: 2.8rem;
                overflow: hidden;

                .discussions-link{
                    text-decoration: none;
                    color: $discussions-link-color;

                }
            }

            p{
                font-family: $font-roboto;
                font-weight: $font-weight-light;
                color:$gray-600;

                .date, .time{
                    font-size: 0.85rem;
                }

                .discussions-link{
                    text-decoration: none;
                    font-size: 0.9rem;
                }
            }
        }
    }


    .news-item{

        //COMMENT NUMBER
        .comment-number{
            position: absolute;
            top:82%;
            right: 0;

            color:$white;
            font-family: $font-roboto;
            font-weight: $font-weight-medium;
            padding: 6px;
            font-size: 0.85rem;

            display: inline-block;
            text-decoration: none;

            &:after{
                content: '';
                display: block;
                width: 5px; 
                height: 5px;
                position: absolute;
                top:100%;
                left:70%;
                border: 5px solid transparent;
                border-top-color: $comment-triangle-color;
                border-left-color: $comment-triangle-color;
            }
        }

        .comment-number-position-75{
            top:70%;
            right: 0 !important;
        }

        .news-item-detail{
            h5{
                font-family: $font-roboto;	
                font-size: 1.1rem;
                line-height: 1.4rem;
                max-height: 2.8rem;
                overflow: hidden;

                .news-item-link{
                    text-decoration: none;
                    color: $discussions-link-color;

                }
            }

            p{
                font-family: $font-roboto;
                font-weight: $font-weight-light;
                color:$gray-600;

                .date, .time{
                    font-size: 0.85rem;
                }

                .news-detail-link{
                    text-decoration: none;
                    font-size: 0.9rem;
                }
            }

        }
    }
}


@media(min-width:450px){
    .discussions{

        .news-item{
            .comment-number-position-75{
                top:60%;
                right: 6px;
            }
        }
    }
}

@media(min-width:576px){

    .discussions{

        .news-item{
            .comment-number-position-75{
                top:70%;
                right: 6px;
            }
        }
    }
}
