$grid-slider-bg: $gray-300;
$grid-slider-border-color: rgba(138,185,87, 0.8);
$grid-slider-h3-color: #25282A;
$grid-slider-bot-item-user: #D8D8D8;
$grid-slider-bot-item-h5:#25282A;
$grid-slider-bot-item-p:#7C7C7C;
$grid-slider-bot-item-check-circle: $grid-slider-border-color;
$grid-slider-bot-item-number: #8AB957;
$grid-slider-tab-content: #E4E2E2;
$grid-slider-comments-w75: #FFFFFF;
$comments-linear-background-white: rgba(255,255,255, 1);
$comments-linear-background-gray: rgba(243,243,243, 1);
$grid-slider-bottom-border-color: #EAEAEA;


.grid-slider{
    padding-bottom: 20px;
    //TITTLE
    .grid-slider-tittle{

        .grid-slider-tittle-bot{
            //border-top: 3px solid $grid-slider-border-color;
            background: linear-gradient(to right, $comments-linear-background-white 70%, $comments-linear-background-gray 100%);
            border-bottom: 1px solid $grid-slider-bottom-border-color;

            h3{
                color: $grid-slider-h3-color;		
                font-size: 1.1rem;
                text-align: center;
                padding: 10px 57px;
            }
        }

    }

    //ITEM
    .grid-slider-bot{
        padding: 0 10px 0;
        background: $white;
        margin-top: 0;
    }

    .grid-slider-bot-item{
        //border-bottom: 1px solid $grid-slider-bot-item-user;

        .fa-user-circle{
            color: $grid-slider-bot-item-user;
            font-size: 1.4rem;
        }

        h5{
            color: $grid-slider-bot-item-h5;	
            font-size: 1rem;	
            font-weight: $font-weight-medium;
        }

        p{
            color: $grid-slider-bot-item-p;
            font-size: 0.85rem;
        }

        .fa-check-circle{
            color: $grid-slider-bot-item-check-circle;
            font-size: 1.1rem;
        }

        .grid-slider-bot-item-number{
            color: $grid-slider-bot-item-number;	
            font-family: $font-roboto;	
            font-size: 0.85rem;	
            font-weight: $font-weight-medium;
        }
    }


    //COMMENT NUMBER
    .comment-number{
        top:85%;
        right: -6px;
    }

    .comment-number-position-20{
        top:20%;
        right: 0;
    }

    .comment-number-position-40{
        top:42%;
        right: 0;
    }

    .comment-number-position-60{
        top:65%;
        right: 0;
    }

    .comment-number-position-80{
        top:85%;
        right: 0;
    }

    //SLIDER
    .grid-slider-mainslider{
        a{
            text-decoration: none;

            &:hover{
                color:$white;
            }
        }

        li{
            padding-right: 4px;
        }

        .news-detail{
            position: absolute;
            bottom:0;
            width: 100%;
            margin-right: auto;
            background: linear-gradient(to left, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0.5) 100%);


            h2{
                font-size: 1.3rem;
                line-height: 1.6rem;
                max-height: 3.2rem;
                overflow: hidden; 
            }

            p{
                font-weight: $font-weight-light;
                color:#F0F0F0;

                .date, .time{
                    font-size: 0.7rem;
                }
            }

        }

        .owl-nav{
            position: absolute;
            top:50%;
            left: 0;
            width: 100%;

            .owl-prev{
                position: absolute;
                top:0;
                transform: translateY(-50%);
                left: 0;
                width: 30px;
                height: 30px;
                background-color: rgba(245,245,245,0.7);
            }

            .owl-next{
                position: absolute;
                top:0;
                transform: translateY(-50%);
                right: 0;
                width: 30px;
                height: 30px;
                background-color: rgba(245,245,245,0.7);
            }

            .fa{
                line-height: 26px;
                color: $white !important;
                font-size: 2rem;
            }
        }
    }

    //COL-3

    .grid-slider-comments{
        a{
            text-decoration: none;

            &:hover{
                color:$white;
            }
        }

        .nav{
            flex-wrap: nowrap !important;
        }

        .nav-link {
            padding: 0 3rem;
        }

        .nav-pills .nav-link.active,
        .nav-pills .show > .nav-link,
        .nav-pills .nav-link:hover
            {
            border-top: 3px solid $grid-slider-border-color;	
            background: linear-gradient(90deg, #FFFFFF 0%, #F3F3F3 100%);

            span{
                color: $grid-slider-h3-color;	
                font-family: $font-roboto;	
                font-size: 1rem;	
                font-weight: $font-weight-regular;

            }
        }

        .nav-pills .nav-link {
            border-top: 3px solid $white;
            border-radius: 0rem;
            background-color: $white;
            color:$grid-slider-h3-color;
        }

        .tab-content{
            border: 1px solid $grid-slider-tab-content;
            padding: 5px;
            background: $white !important;
        }

        .news-detail{
            width: 80%;

            .news-detail-first-link{
                color: black;	
                font-family: $font-roboto;	
                font-size: 1rem;
                text-decoration: none;
                line-height: 1.4rem;
                max-height: 4.5rem;
                overflow: hidden;
                padding-left: 2px;
                display: block;
            }

            p{
                font-weight: $font-weight-light;
                color:$gray-600;
                font-size: 0.85rem;
                padding-left: 2px;

                .news-detail-link{
                    text-decoration: none;
                    font-size: 0.85rem;
                }
            }
        }

    }

}

@media(min-width: 450px){
    .grid-slider{
        .comment-number-position-20{
            top:20%;
            right: 0;
        }

        .comment-number-position-40{
            top:40%;
            right: 0;
        }

        .comment-number-position-60{
            top:60%;
            right: 0;
        }

        .comment-number-position-80{
            top:83%;
            right: 0;
        }

        .grid-slider-comments{
            a{
                text-decoration: none;

                &:hover{
                    color:$white;
                }
            }

            .nav{
                flex-wrap: nowrap !important;
            }

            .nav-link {
                padding: 0 4rem;
            }

        }

    }

}


@media(min-width: 576px){
    .grid-slider{
        .comment-number-position-20{
            top:20%;
            right: 0;
        }

        .comment-number-position-40{
            top:43%;
            right: 0;
        }

        .comment-number-position-60{
            top:65%;
            right: 0;
        }

        .comment-number-position-80{
            top:85%;
            right: 0;
        }

        .grid-slider-comments{
            a{
                text-decoration: none;

                &:hover{
                    color:$white;
                }
            }

            .nav{
                flex-wrap: nowrap !important;
            }

            .nav-link {
                padding: 0 5rem;
            }

        }
    }

}


@media(min-width:768px){

    .grid-slider{

        .comment-number-position-20{
            top:20%;
            right: 0;
        }

        .comment-number-position-40{
            top:42%;
            right: 0;
        }

        .comment-number-position-60{
            top:65%;
            right: 0;
        }

        .comment-number-position-80{
            top:85%;
            right: 0;
        }

        .grid-slider-comments{
            a{
                text-decoration: none;

                &:hover{
                    color:$white;
                }
            }

            .nav{
                flex-wrap: nowrap !important;
            }

            .nav-link {
                padding: 0 3rem;
            }

        }

        //SLIDER
        .grid-slider-mainslider{

            .news-detail{

                h2{
                    font-size: 1.6rem;
                    line-height: 2rem;
                    max-height: 4rem;
                }

                p{
                    font-weight: $font-weight-light;
                    color:#F0F0F0;

                    .date, .time{
                        font-size: 0.9rem;
                    }

                }
            }

        }




    }
}


@media(min-width:992px){

    .grid-slider{
        
        .comment-number-position-20{
            top:20%;
            right: 0;
        }

        .comment-number-position-40{
            top:40%;
            right: 0;
        }

        .comment-number-position-60{
            top:60%;
            right: 0;
        }

        .comment-number-position-80{
            top:80%;
            right: 0;
        }
        
        .grid-slider-comments{
            a{
                text-decoration: none;

                &:hover{
                    color:$white;
                }
            }

            .nav{
                flex-wrap: nowrap !important;
            }

            .nav-link {
                padding: 7px 1.5rem;
            }

        }
    }

}

@media(min-width:1200px){
    
    .grid-slider{
        .grid-slider-comments{
            .nav-link {
                padding: 0 1.5rem;
            }
        }
    }
    
}


