$lead-section-bg: $gray-300;

.lead-section{
    background: $lead-section-bg;

    figure{
        padding: 10px 0;
        margin: 0;
    }

}

@media(min-width:768px){

    .lead-section{

        figure{
            padding: 10px 55px;
        }

    }
} 

@media(min-width:992px){

    .lead-section{

        figure{
            padding: 25px 100px;
        }

    }
} 

